html,body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    color: white;
    overflow-x: hidden;
}


.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-basis{
    flex-basis: 100%;
}
.flex-center{
    justify-content: center;
}
.middle-align{
    align-items: center;
}
.direction-column{
    flex-direction: column;
}
.flex-start{
    align-items: flex-start;
}
.space-between{
    justify-content: space-between;
}

h1,h2{
    font-size: 40px;
}
a{
    text-decoration: none;
    color: white;
    text-transform: none;
}
.button{
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 400;
    background: #e50914;
    color: white;
    cursor: pointer;
}

body::before{
    content: '';
    left: 0;
    top: 0;
    z-index: -1;
    position: fixed;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.9) 100%),url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

main{
    max-width: 1280px;
    margin: auto;
}
header{
    padding: 30px 10px;
}

@media (max-width: 770px){
    .email-form-lockup{
        display: block;
    }
    .submit{
        margin-top: 15px;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.loginContainer{
    max-width: 380px;
    height: 600px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: var(--box-shadow);
    padding: 30px 60px 68px 40px;
    border-radius: 3px;
}
.loginContainer h2{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 28px !important;
}
#loginForm input, #loginForm button{
    padding: 16px 5px;
    margin-top: 30px;
    border: 0;
}
#loginForm input{
    background: #333;
    color: white;
    border-radius: 3px;
}
#loginForm #email{
    margin: 0;
}
#loginForm .para{
    margin-top: 20px;
    color: gray;
}
#loginForm #errorEmail, #errorPassword{
    color: #E87C03;
    font-size: 14px;
}
#loginForm p .signUp{
    color: white;
}


.bottom{
    background-color: rgba(0, 0, 0, 0.7);
    color: #757575;
    margin-top: 50px;
    
}

.bottom-width{
    max-width: 50%;
    margin: 0 auto;
    padding: 30px;
}

.bottom-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.bottom-flex li{
    list-style: none;
}

.list-bottom{
    width: 25%;
    margin-top: 10px;
}

.link-bottom{
    text-decoration: none;
    color: #757575;
    font-size: 0.9rem;
}

.select-language{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:img/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDUwIiBoZWlnaHQ9IjUwcHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MCA1MCIgd2lkdGg9IjUwcHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxyZWN0IGZpbGw9Im5vbmUiIGhlaWdodD0iNTAiIHdpZHRoPSI1MCIvPjxwb2x5Z29uIHN0cm9rZT0id2hpdGUiICBwb2ludHM9IjQ3LjI1LDE1IDQ1LjE2NCwxMi45MTQgMjUsMzMuMDc4IDQuODM2LDEyLjkxNCAyLjc1LDE1IDI1LDM3LjI1ICIvPjwvc3ZnPg==");
    background-size: 12px;
    background-position-x: calc(100% - 7px);
    background-position-y: calc(100% - 14px);
    background-repeat: no-repeat;
    background-color: #000;
    color:#757575;
    padding: 14px 20px 14px 14px;
    margin: 30px 0 40px 0;
    font-size: 0.9rem;
    min-height: 40px;
    border: 1px solid #333;
}

.select-language option{
    padding-left: 10px; 
}